* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

#imagemPamela {
  height: 11em;
  border-radius: 50%;
  border: 5px solid #9d9d9d;
  margin: 1em;
}

#perfilPamela {
  width: 25%;
  height: 100%;
  background-color: #4f4f4f;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#linksPamela {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-evenly;
}

#sobrePamela {
  text-decoration: none;
  color: black;
  margin: 0.6em;
}

#conhecimentosPamela {
  text-decoration: none;
  color: black;
  margin-bottom: 0.6em;
}

#objetivoPamela {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 4em;
  justify-content: center;
}

#emailFoto {
  height: 50px;
  padding-bottom: 50px;
}

#telefoneFoto {
  height: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 5rm;
  text-decoration: 0.1 underline black;
  margin-bottom: 2rem;
}

#informacoesPamela {
  font-size: 1.2em;
  margin-bottom: 10em;
}

#definicaoPamela {
  margin-bottom: 5em;
  font-size: 1.2em;
}

ol {
  font-size: 1.2em;
  margin-bottom: 10rem;
}

#conhecimentosPamela {
  color: black;
}

ul {
  font-size: 1.2em;
  margin-bottom: 10rem;
}
